p {
    font-family: roboto;
    margin-top: 0;
    margin-bottom: 0;
}
.video-title{
    font-size: 18px;
    font-weight: 700;
    width: 300px;
    line-height: 24px;
    margin-bottom: 5px;
}

.video-stats{
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
}

.video-author {
    font-size: 14px;
    color: #606060;
    margin-bottom: 20px;
}

.videeo-description {
    font-size: 14px;
    color: #606060;
    line-height: 20px;
    width: 284px;
    margin-bottom: 100px;
}

.apple-text {
    margin-bottom: 50px;
    font-size: 14px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding: 20px 20px;
}

.shop-link:hover {
    text-decoration: underline;
    cursor: pointer;
}